@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+MX+Guides&family=Slabo+13px&display=swap');

*{
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;   
}
h1 {
    font-family: "Open Sans", sans-serif;


}
h2 {
     font-family: "Open Sans", sans-serif;
}
.single-column {
   max-width: 400px;
   margin-right:  auto;
   margin-left: auto;
   padding: 24px;
   
   
}

.light-container {
    color: white;
    padding: 48px 0px;
    background-color: darkorange;
    

}

.dark-container {
    background-color:red;
    


}

.button {
    text-decoration: none;
    color: red;
    display:inline-block ;
}

.primary {
    background-color: forestgreen;
    color: white;
    padding: 12px;
    border-radius:36px;
    font-size: 24px;
    font-weight: bold;
    margin-right: 12px;

}
.secondary {
    color: forestgreen;
    border: 3px solid forestgreen;
    padding: 36px;
    border-radius: 36px;
    font-weight: bold;
    margin-right: 12px;

}



