*{
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;   
}
#layout {
    max-width: 1200px;
    margin: 48px;
    display: flex;

    /* dont leave these pro when you sumbit */
    background-color:lightgreen;
    min-height: 100vh;
}   
   
#thumbnail-column {
    flex: 1;
    background-color: lightblue;
}

#featured-image-column {
    flex: 1;
    background-color: lightgrey;
}

#product-info-column {
    background-color: aqua;
    flex: 1;

    
}
