*{
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;   
}

#hero{
    background-image:url(../images/stars-on-velvet.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}   