*{
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;   
}
#p1 {
    color: lightgreen;
}

.shadowed{
    background-color: lightgray;
    margin: 24px;
    padding: 24px;
    /* x-offset,y-offset,blur-radius,color */
    box-shadow:  -4px 20px 4px gray;
}

p   {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: red;  
}